* {
	box-sizing: border-box;
}


/* Typographies / Couleurs (exemples : titres, paragraphes, liens, etc.)
========================================================================== */

body {
	background-color: white;
}

/* Mise en page (positionnement)
========================================================================== */

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

title {
	color: black;
}



/* Header / Navigations / Footer 
========================================================================== */
.flex-cotes{ 
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-acote{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.flex-ligne{
	display: flex;
}
nav ul {
	margin: 0;
	padding: 0;
}


nav a {
	
	text-decoration: none;
	padding: 10px 20px ;
	color: black;
	display: flex;



}
nav a:hover{
	
	text-align: center;
	background-color: beige;
}
nav li{
	display: inline-block;
	
}
.grille_disque{
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 2fr;
	
	gap: 2rem;
	text-align: center;
	text-decoration: none	;
	
}
.grille_fd{
	display: grid;
	grid-template-columns:2fr 2fr 2fr ;
	gap: 2rem;
	
	

}

.bouton{
	text-decoration: none;
	
	background-color: black;
	color: white;
	padding:1rem;
}
.bouton_footer{
	text-decoration: none;
	margin: 1rem;
	background-color:white;
	color:black;
	padding:0.5rem;
	text-align: center;
}

.banniere{
	background-color: black;
	color: white;
	margin-top: 2rem;
}

.banniere_header{
	
	
	border-bottom: solid rgb(64, 63, 63);
	margin-bottom: 2rem ;
}
.banniere_menu{
	background-color: rgb(196, 189, 189);
	
	
	
}
.menu{
	display: flex;
	flex-direction: column;
	text-align: left;
}
.flex{
	display: flex;
	align-items: center;
}
.banniere_disque{
	background-color: black;
	color: aliceblue;
	margin-bottom:2rem;
	margin-top: 2rem;
	padding: 1.5rem;
	font-size: 1.5rem;
}

input[type="submit"]
{
	background-color: black;
	padding: 0.5rem;
	color: white;

}
.flex_gauche{
	align-self:start;
}
.btn{
	margin: 1px ;
	border: solid blue;
}
.gauche{
	display: flex;
	flex-wrap: wrap;
}


/* Composantes générales (exemples : section, cartes, tableaux, etc.)
========================================================================== */
.grille{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.5rem;
	
}
.grille_fiche{
	display: grid;
	grid-template-columns: 1fr 1fr;	
	align-items: stretch;
	gap: 1.5rem;
	padding: 2rem;
	
	
}
img{
	max-width: 100%;
}

.span_fmlr{
	grid-row:  span 2;
	grid-column: span 2;
	
}
.img_fmrl{
	width: 100%;
}
td,th{
	border: 1px solid;
	padding: 10px 20px;
}
table{
	border-collapse: collapse;
	margin-bottom: 2rem;
	text-align: center;
	width: 90%;
}
.center{
	display: flex;
	flex-direction: column;
}
.couleur{
	border-bottom: 1px solid blue;
	
}

/* Formulaires
========================================================================== */

.space_fmlr{
	margin: 1rem;
	
}



/* Règles spécifiques aux pages
========================================================================== */
@media screen and (max-width: 1200px)
{
	header{
		background-color: red;
	}
}	
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
body{
	font-size: 1.4rem;
}
.inp-check label,
.inp-check input{
	display: inline-block;
	width: auto;
}
fieldset{
	width: 50%;
}